body, html{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    /* background-color: rgba(0, 255, 255, 0.171);   */
}
#background{
    width: 100%;
    height: 100%;
    background-image: url("../images/background.png");
    background-position: center;
    background-size: contain;
    background-color: maroon;
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -5;
}

#curtain{
    /* display: none; */
    width: 100%;
    height: 100%;
    background-image: url("../images/curtain.png");
    background-position: center;
    background-size: cover;
    /* opacity: 0.15; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

div{
   margin: 0 auto;
   width: 50vw;
   height: fit-content;
}
h1{
    text-align: center;
    font-size: 5vw;
    font-weight: bolder;
    margin-top: 3vw;
    color: maroon;
}

h2{
    text-align: center;
    font-size: 3.6vw;
    font-weight: bolder;
    margin-top: 2vw;
    
}

#play{
    font-size: 2vw;
    color: white;
    background-color: maroon;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    margin-top: 3vw;
    padding: 0.7vw;
    letter-spacing: 0.2vw;
}

#play:hover{
    transform: scale(1.1);
}

#play:focus {
    outline:0;
}

#play:active {
    transform: translateY(4px);
}

#timer{
    text-align: center;
    font-size: 2.5vw;
    margin: 1% 0 1% 0;
    font-weight: bold;
}

#ticketContainer{
    display: none;
    position: relative;
    text-align: center;
}
#ticket{
    width: 80%;
    height: 80%;
}
#emoji{
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    word-break: break-all;
    word-wrap: break-word;
    font-size: 4vw;
    line-height: 5vw;
}

#filmContainer{
    display: none;
    position: relative;
    text-align: center;
    font-size: 1.5vw;
}
#film{
    width: 100%;
    height: 100%;
}

tr{
    width:100%;
    height: 100%;
    display: inline-block;
    
}

.labl > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.labl > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
.labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: #ffd6bb !important;
    border: 1px solid #ff6600;
}
#a, #b, #c, #d{
    position: absolute;
    width: 10.6vw;
    height: 8.7vw;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1%;
    padding-left: 1%;
    background-color: #ffffffaf;
    border: 1px solid #ffffffaf;
}

#a{
    top: 18%;
    left: 0.5%;
}

#b{
    top: 18%;
    left: 25.3%;
    
}
#c{
    top: 18%;
    right: 26.4%;

}
#d{
    top: 18%;
    right: 1.6%;
}

.hov:hover{
    background-color: #ffd6bb !important;
    border: 1px solid #ff6600 !important;
    /* background-color: #04b604b7; */
}

.correctAnswer{
    background-color:#04b604b7 !important;
    border-color: green !important;
}

.incorrectAnswer{
    background-color:#ff0000b3 !important;
    border-color: red !important;
}